{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/algorithm.css')}}">
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/button_nav.css')}}">
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="tabs">
	<form action="/back_index" method="post">
		<button class="not-chosen clickable">Select an Input File</button>
		<input type="text" name="filename" value="{{filename}}" class="placeholder">
	</form>
	<form action="/back_select" method="post">
		<button class ="not-chosen clickable">Select Text</button>
		<input type="text" name="filename" id="filename"  value="{{filename}}" class="placeholder">
	</form>
	<button class ="chosen clickable">Set Algorithm Configuration</button>
	<button class ="not-chosen unclickable">Run Topic Extraction</button>
</div>
<div class="body">
	{% if filename is defined %}
	Filename is <b>{{ filename }}</b> <br>
	{% endif %}
	<form class="form" method="post">
		<fieldset>
			<legend class="legend">Set Algorithm Configuration</legend>
			{{ render_field(form.algorithm, class='answer') }}
			<br>
			{{ render_field(form.topics, class='answer') }}
			<p class="hint">How many topic-clusters would you like to identify from your data? (Can't be greater than the total number of documents)</p>
			{{ render_field(form.length, class='answer') }}
			<p class="hint">Maximum number of words considered when determining significant phrases.</p>
			{{ render_field(form.stopwords, class='textarea', rows="3") }}
			<p class="hint">Words or phrases that will be ignored in the data. (Should be a comma-delimited list)</p>
			<input class="submit" type="submit" value="Continue">
		</fieldset>

	</form>
</div>
{% endblock %}