{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/review.css')}}">
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/button_nav.css')}}">
{% endblock %}

{% block content %}

<div class="tabs">
	<form action="/back_index" method="post">
		<button class="not-chosen clickable">Select an Input File</button>
	</form>
	<form action="/back_select" method="post">
		<input type="text" name="filename" id="filename"  value="{{ form.filename.data }}" class="placeholder">
		<button class ="not-chosen clickable">Select Text</button>
	</form>
	<form action="/algorithm" method="post">
		<input type="text" name="filename" id="file" value="{{ form.filename.data }}" class="placeholder">

		<button class ="not-chosen clickable">Set Algorithm Configuration</button>
	</form>
	<button class ="chosen clickable">Run Supervised Clustering</button>
</div>

<div class="body">
	<h3><center>Review Inputs</center></h3>

	<table>
		<tr class="background">
			<th>Filename</th>
			<td>{{ form.filename.data }}</td>
		</tr>
		<tr>
			<th>AN Source</th>
			<td>
				{{ form.AN.data }}
			</td>
		</tr>
		<tr>
			<th>Text Source</th>
			<td>
				{{ form.columns.data }}
			</td>
		</tr>
		<tr>
			<th>Seeds Source</th>
			<td>
				{{ form.seeds.data }}
			</td>
		</tr>
		<tr class="background">
			<th>Other Configuration</th>
			<td></td>
		</tr>
		<tr>
			<th>Recall Threshold</th>
			<td>{{ form.threshold.data }}</td>
		</tr>

		<tr>
			<th>Stop Words</th>
			<td>{{ form.stopwords.data }}</td>
		</tr>
		<tr>
			<th>Output Type</th>
			<td>{{ form.output_type.data }}</td>
		</tr>
	</table>
	<form method="post" class="center">
		{{ form.csrf_token }}
		{{ form.AN(class='placeholder') }}
		{{ form.columns(class='placeholder') }}
		{{ form.seeds(class='placeholder') }}
		{{ form.threshold(class='placeholder') }}
		{{ form.stopwords(class='placeholder') }}
		{{ form.output_type(class='placeholder') }}
		<input class="submit" type="submit" value="Analyze">
	</form>
</div>

{% endblock %}