{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/button_nav.css')}}">
{% endblock %}

{% block content %}
<div class="tabs">
	<button class="chosen clickable">Select an Input File</button>
	<button class ="not-chosen unclickable">Select Text</button>
	<button class ="not-chosen unclickable">Set Algorithm Configuration</button>
	<button class ="not-chosen unclickable">Run Topic Extraction</button>
</div>

<div class="body">
   <h3>Select an Input File</h3>
    <div>Supervised clustering requires a limited set of "seed" documents (as few as 25-50 documents),
        annotated as relevant to the topic of interest.
        If the seed documents are randomly chosen from the larger pool of unclassified documents,
        predictions will be unbiased</div>
   <div class="container">
      <form method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="file_upload">Upload a data file (in .CSV or .RIS format)</label>
              {{ form.csrf_token }}
              {{ form.file }}
            <p style="color: red;">{{ ', '.join(form.file.errors) }}</p>
            <input class="upload" type=submit value=Upload>
         </div>
      </form>
   </div>
</div>
<p style="margin: 0px 50px 20px 5%;">Credit to <a href="https://hsl.lib.unc.edu/">@UNC Health Science Library</a></p>
{% endblock %}


